{% extends 'main/base_layout.html' %}

{% block title %}
    Book List
{% endblock %}

{% block main-content %}
<div class="container">
    <h1>Book List</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Priority</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in book_list %}
            <tr {% if book.priority > 3 %}class="text-danger"{% else %}class="text-success"{% endif %}>
                <td>{{ book.id }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.priority }}</td>
                <td>{{ book.description | truncatewords:2 | title }}</td>
                <td>
                    <a class="btn btn-info" href="{% url 'book:book-detail' book.id %}">View</a>
                    <a class="btn btn-info" href="{% url 'book:book-update' book.id %}">Update</a>
                    <a class="btn btn-danger" href="{% url 'book:book-delete' book.id %}">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">Sorry, no books in the list.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
